.layout-2-column {
    @include columns($width: 40%);

    @include media-small-desktop {
        @include columns($width: 48.3%);
    }

    @include media-large-tablet {
        @include columns($width: 81%);
    }

    @include media-mobile {
        @include columns($width: 100%);
    }
}

.layout-3-column {
    @include columns($width: 31%);
    row-gap: 20px;

    @include media-desktop {
        row-gap: 92px;
    }

    @include media-small-desktop {
        @include columns($width: 31.4%);
    }

    @include media-large-tablet {
        @include columns($width: 48%);
    }

    @include media-small-tablet {
        @include columns($width: 65%);
        justify-content: center;
        row-gap: 20px;
    }

    @include media-mobile {
        @include columns($width: 95%);
        justify-content: center;
    }
}

.layout-4-column {
    @include columns($width: 23%);

    @include media-small-desktop {
        @include columns($width: 31%);
    }

    @include media-large-tablet {
        @include columns($width: 100%);
        row-gap: 15px;
    }
}

.slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 28px;
    width: 100%;
    flex-shrink: 0;

    @include media-desktop {
        row-gap: 92px;
    }

    @include media-large-tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-small-tablet {
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}