.header {
    background: $color-dark;
    backdrop-filter: blur(2px);
    padding: 14px 0;
    color: $color-light;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 63px;
    }

    &__copyright {
        margin-left: auto;
    }
}