.logo-container {
    width: 82px;
    height: 52px;
    border: 1px solid $color-light;
    border-radius: 2px;
    z-index: 3;
}

.logo {
    text-decoration: none;
    color: $color-light;

    &__title {
        position: relative;
        padding: 3px;
        margin: 0;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            left: 13px;
            width: 7px;
            height: 21px;
            background-image: url("../assets/icons/bamboo.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.header {
    .logo-container {
        @extend %transition;

        @include media-large-tablet {
            border: none;
            width: 47px;
            height: 29px;
        }

        &.active {
            width: 66px;
            height: 42px;
            border: 0.8px solid $color-additional;
            padding: 3px;
            position: fixed;
            top: 8px;
            left: 10px;
        }
    }

    .logo {
        &__title {
            @include media-large-tablet {
                @include font($size: 1.2rem, $height: 1.5rem);
                padding: 0;
            }

            &.active {
                @include font($size: 1.5rem, $height: 1.8rem);
                color: $color-additional;
                filter: invert(40%) sepia(90%) saturate(1000%);
            }

            &::after {
                @include media-large-tablet {
                    left: 7px;
                    height: 14px;
                    width: 5px;
                }
            }
        }
    }
}

.footer {
    .logo-container {
        @include media-small-tablet {
            border: none;
            width: 100%;
            height: 100%;
        }
    }

    .logo {
        &__title {
            @include media-small-desktop {
                padding: 0;
            }

            @include media-small-tablet {
                @include font($size: 1.9rem, $height: 2.3rem);
            }

            &::after {
                @include media-small-tablet {
                    left: 54%;
                }
            }
        }
    }
}