.donation {
    background: $color-additional-gradient;
    z-index: 1;
    position: relative;

    &__wrapper {
        border-radius: 20px;
        z-index: 1;
        position: relative;
        background: $color-background;
    }

    &__title {
        text-align: center;
        @include font($size: 4.8rem, $height: 5.8rem);
        color: $color-additional;
    }

    &__subtitle {
        @include font($size: 2.4rem, $height: 2.9rem);
    }

    &__paragraph {
        margin: 0;
        @include font($height: 2.1rem, $weight: 400);
        padding-right: 138px;

        @include media-small-desktop {
            margin-bottom: 40px;
            padding: 0;
        }

        @include media-large-tablet {
            margin-bottom: 30px;
        }
    }

    &__content {
        padding: 0 59px 59px 99px;
        color: $color-text;

        @include media-small-desktop {
            padding: 0;
        }
    }

    &__link-button {
        text-align: center;
    }

    .link {
        &:hover {
            border-bottom-color: $color-link;
        }
    }
}

.heading {
    @include font($size: 3.6rem, $height: 5.7rem);
    color: $color-text;
}

.steps-container {
    max-width: 764px;
    padding-bottom: 60px;
    margin: auto;

    @include media-small-desktop {
        padding-bottom: 70px;
    }

    @include media-large-tablet {
        padding-bottom: 40px;
    }

    @include media-small-tablet {
        padding: 0 66px 30px;
    }
}

.step {
    position: relative;
    max-width: 168px;

    @include media-small-tablet {
        max-width: 100%;
    }

    @include media-tablet {
        margin-right: 15px;
    }

    @include media-mobile {
        margin: 0;
    }

    &__text {
        margin: 30px 0 0;
        color: $color-text;

        @include media-small-tablet {
            margin: 10px 0 0;
        }
    }

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 38px;
        top: 25%;
        right: -60%;
        background: url("./assets/icons/arrow-1.svg") no-repeat;

        @include media-large-tablet {
            width: 95px;
            top: -18px;
            left: calc(100% + 10%);
            background: url("./assets/icons/arrow-2.svg") no-repeat;
            z-index: 1;
        }

        @include media-tablet {
            left: calc(100% - 10%);
        }

        @include media-small-tablet {
            transform: rotate(90deg);
            top: 90%;
            left: calc(100% - 30%);
        }
    }
}