%transition {
    transition: all .3s ease-out;
}

%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-light;
    border-radius: 2px;
    width: 100%;
    height: 2px;
}