.donate {
    .preview {
        height: 386px;
        background-image: url("./assets/images/backgrounds/giant-panda.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-small-desktop {
            height: 390px;
            background-position: 29%;
            background-size: 160%;
        }

        @include media-large-tablet {
            height: 335px;
            background-position: 37%;
            background-size: 210%;
        }

        @include media-small-tablet {
            height: 187px;
            background-position: 33%;
            background-size: 220%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

            @include media-small-desktop {
                width: 160%;
                position: relative;
                left: -18%;
            }

            @include media-large-tablet {
                width: 200%;
                left: -38%;
            }
        }
    }

    .donation {
        color: $color-text;
        padding: 40px 0 178px;

        @include media-small-desktop {
            padding-bottom: 30px;
        }

        @include media-large-tablet {
            padding: 30px 0 45px;
        }

        @include media-small-tablet {
            padding-bottom: 20px;
        }

        &__heading {
            margin: 0;
            color: $color-light;

            @include media-small-desktop {
                @include font($height: 4.7rem, $size: 3.6rem);
                width: 80%;
                margin-bottom: 30px;
            }

            @include media-large-tablet {
                @include font($height: 2.9rem, $size: 2.4rem);
                color: $color-light;
                width: 100%;
                margin-bottom: 20px;
            }

            &--colored {
                color: $color-additional;
                margin: 0 0 56px;

                @include media-small-desktop {
                    margin-bottom: 40px;
                }

                @include media-large-tablet {
                    @include font($height: 4.7rem, $size: 3.6rem);
                    margin-bottom: 30px;
                }

                @include media-small-tablet {
                    @include font($height: 2.9rem, $size: 2.4rem);
                }
            }
        }

        &__text {
            margin: 0 0 40px;
            @include font($height: 2.2rem, $weight: 500);

            @include media-small-desktop {
                margin-bottom: 48px;
            }

            @include media-large-tablet {
                margin-bottom: 30px;
            }

            &--colored {
                color: $color-light;
                text-align: initial;
            }
        }

        &__wrapper {
            padding: 40px 92px 62px;

            @include media-small-desktop {
                padding: 20px 45px 46px;
            }

            @include media-large-tablet {
                padding: 30px 0 31px;
            }

            @include media-small-tablet {
                padding: 20px 0;
            }
        }

        &__subtitle {
            margin: 0 0 55px;

            @include media-large-tablet {
                text-align: center;
            }

            @include media-small-tablet {
                @include font($size: 1.6rem, $height: 2.2rem);
                margin-bottom: 10px;
            }
        }

        &__title {
            margin: 0 0 20px;

            @include media-small-desktop {
                margin-bottom: 10px;
            }

            @include media-large-tablet {
                margin-bottom: 20px;
            }

            @include media-small-tablet {
                @include font($size: 2.4rem, $height: 2.9rem);
                margin-bottom: 10px;
            }
        }

        &__link-button {
            margin-bottom: 25px;


            @include media-small-tablet {
                margin-bottom: 21px;
            }
        }

        &__link {
            text-align: center;

            @include media-small-tablet {
                white-space: nowrap;
            }
        }

        &__amount-bar {
            margin-bottom: 98px;

            @include media-small-desktop {
                padding: 0 19px;
            }

            @include media-large-tablet {
                padding: 0;
            }

            @include media-small-tablet {
                padding-left: 0;
                margin-bottom: 49px;
            }

            &-title {
                @include font($height: 2.2rem, $weight: 400);
                margin: 0 0 17px;

                @include media-small-desktop {
                    margin: 0 0 14px;
                }

                @include media-large-tablet {
                    margin-bottom: 7px;
                    padding-left: 10px;
                }

                @include media-small-tablet {
                    padding-left: 0;
                }
            }
        }

        .amount-bar {
            position: relative;
            width: 100%;
            height: 27px;
            background: $color-amount-bar;
            border-radius: 2px;

            @include media-small-tablet {
                height: 13px;
            }

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 93%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-amount-bar-track;

                @include media-small-desktop {
                    width: 96%;
                }

                @include media-large-tablet {
                    width: 88%;
                }

                @include media-small-tablet {
                    height: 1px;
                }
            }

            &__item {
                position: relative;

                @include media-small-desktop {
                    &:first-child {
                        display: none;
                    }
                }

                @include media-large-tablet {
                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }

                >.amount-bar__radiobutton {
                    &:checked {
                        &::after {
                            outline: 2px solid $color-additional;
                            outline-offset: 4px;

                            @include media-small-tablet {
                                outline-width: 1px;
                                outline-offset: 3px;
                            }
                        }

                        &::before {
                            outline: 2px solid $color-additional;
                            outline-offset: 12px;

                            @include media-small-tablet {
                                outline-width: 1px;
                                outline-offset: 7px;
                            }
                        }

                        &~.amount-bar__label {
                            color: $color-additional;
                        }
                    }

                    &:hover {
                        &::after {
                            outline: 2px solid $color-additional;
                            outline-offset: 4px;

                            @include media-small-tablet {
                                outline-width: 1px;
                                outline-offset: 3px;
                            }
                        }

                        &::before {
                            outline: 2px solid $color-additional;
                            outline-offset: 12px;

                            @include media-small-tablet {
                                outline-width: 1px;
                                outline-offset: 7px;
                            }
                        }

                        &~.amount-bar__label {
                            color: $color-additional;
                        }
                    }
                }
            }

            &__track {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
            }

            &__label {
                position: absolute;
                padding-top: 12px;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                @include font($weight: 500, $size: 2.6rem, $height: 3.6rem);
                text-transform: uppercase;
                pointer-events: none;
                @extend %transition;

                @include media-small-tablet {
                    @include font($weight: 500, $size: 1.3rem, $height: 1.8rem);
                    top: 40%;
                }
            }

            &__radiobutton {
                -webkit-appearance: none;
                appearance: none;
                display: inline-block;
                position: relative;
                width: 60px;
                height: 100%;
                cursor: pointer;

                @include media-small-desktop {
                    width: 35px;
                }

                @include media-large-tablet {
                    width: 80px;
                }

                @include media-small-tablet {
                    width: 40px;
                    top: -5px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    background: $color-text-selection;
                    border-radius: 50%;
                    pointer-events: none;
                    z-index: 1;
                    outline: 2px solid transparent;
                    outline-offset: 0;
                    @extend %transition;

                    @include media-small-tablet {
                        width: 5px;
                        height: 5px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    pointer-events: none;
                    z-index: 1;
                    outline: 2px solid transparent;
                    outline-offset: 0;
                    @extend %transition;

                    @include media-small-tablet {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }

        &__promo {
            display: flex;
            padding-left: 215px;
            position: relative;
            margin-bottom: 55px;

            @include media-small-desktop {
                padding-left: 150px;
            }

            @include media-large-tablet {
                padding-left: 5%;
                margin-bottom: 35px;
            }

            @include media-mobile {
                margin-bottom: 5px;
                padding-left: 0;
            }
        }

        &__promo-text {
            color: $color-text;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 112px 89px 0 0;
            gap: 10px;
            margin: 0;

            @include media-large-tablet {
                padding-top: 100px;
            }

            @include media-small-tablet {
                @include font($size: 0.9rem, $height: 1.3rem);
                padding: 60px 40px 0 0;
                gap: 7px;
            }

            &::after {
                content: "";
                width: 14px;
                height: 14px;
                position: absolute;
                background-image: url("./assets/icons/x.svg");
                right: 59%;
                bottom: 40%;

                @include media-small-desktop {
                    right: 61%;
                }

                @include media-large-tablet {
                    right: 65%;
                    bottom: 45%;
                }

                @include media-small-tablet {
                    right: 64%;
                    bottom: 40%;
                    background-repeat: no-repeat;
                    background-size: 75%;
                }
            }

            &--number {
                @include font($weight: 500, $size: 7.2rem, $height: 5.8rem);
                color: $color-dark;

                @include media-small-tablet {
                    @include font($weight: 500, $size: 4rem, $height: 3.2rem);
                }
            }
        }

        &__amount-form {
            margin-bottom: 30px;

            @include media-small-tablet {
                margin-bottom: 27px;
            }
        }

        .amount-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 23px;

            @include media-large-tablet {
                gap: 31px;
            }

            @include media-small-tablet {
                gap: 28px;
            }

            &__number {
                position: relative;
            }

            &__input {
                -moz-appearance: textfield;
                width: 268px;
                padding: 17px 10px 17px 9px;
                outline: none;
                border: solid 1px $color-amount-form-placeholder;
                border-radius: 2px;
                background: $color-transparent;
                color: $color-amount-form-placeholder;

                @include media-large-tablet {
                    width: 180px;
                    padding: 10px 10px 10px 6px;
                }

                &~i {
                    position: absolute;
                    display: block;
                    pointer-events: none;
                    top: 50%;
                    right: 10px;
                    color: $color-amount-form-placeholder;
                    transform: translateY(-50%);
                    @include font($weight: 700, $size: 2.2rem, $height: 5.8rem);
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::placeholder {
                    @include font();
                    color: $color-amount-form-placeholder;
                }

                &:invalid:focus {
                    color: $color-error;
                    border-color: $color-error;
                }

                &:invalid:focus~i {
                    color: $color-error;
                }

                &:valid:focus~i {
                    color: $color-active-buttons;
                }

                &:valid:focus {
                    color: $color-active-buttons;
                    border-color: $color-active-buttons;
                }
            }

            &__radiobuttons {
                display: flex;
                gap: 50px;
                padding-right: 25px;

                @include media-small-desktop {
                    padding-right: 20px;
                }
            }

            &__radiobutton-container {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            &__radiobutton {
                -webkit-appearance: none;
                appearance: none;
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: solid 1px $color-additional;
                cursor: pointer;
                @extend %transition;

                &:checked {
                    background-color: $color-active-buttons;
                    border-color: $color-active-buttons;
                }
            }
        }
    }
}