.donation {
    padding: 69px 0 99px;
    background: $color-additional-gradient;

    &__wrapper {
        padding: 41px 0 55px;
        border-radius: 20px;
        background: $color-background;
        backdrop-filter: blur(2px);
    }

    &__title {
        text-align: center;
        margin: 0 0 30px;
        @include font($size: 4.8rem, $height: 5.8rem);
        color: $color-additional;
    }

    &__subtitle {
        @include font($size: 2.4rem, $height: 2.9rem);
        margin: 0 0 40px;
    }

    &__text {
        margin: 0 0 10px;
        @include font($height: 2.1rem, $weight: 500);
        white-space: nowrap;
    }

    &__paragraph {
        margin: 0;
        @include font($height: 2.1rem, $weight: 400);
        padding-right: 138px;
    }

    &__content {
        padding: 0 59px 59px 99px;
        color: $color-text;
    }

    &__link-button {
        text-align: center;
    }

    &__heading {
        margin: 0 0 33px;
    }

    .link {
        border-bottom: 1px solid $color-additional;
        padding-bottom: 4px;

        &:hover {
            border-bottom-color: $color-link;
        }
    }
}

.heading {
    @include font($size: 3.6rem, $height: 5.7rem);
    text-align: center;
}

.steps-container {
    max-width: 764px;
    padding-bottom: 60px;
    margin: auto;
}

.step {
    position: relative;
    max-width: 168px;

    &__text {
        margin: 30px 0 0;
    }

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 69px;
        height: 38px;
        top: 25%;
        right: -60%;
        background: url("../assets/images/icons/arrow-1.svg") no-repeat;
    }
}