.preview {
    background-image: url("../assets/images/backgrounds/giant-panda.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
        display: flex;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        margin-left: auto;
        gap: 60px;
    }

    &__title {
        @include font($size: 10.6rem, $height: 8rem, $weight: 700);
        text-align: center;
        text-transform: uppercase;
        color: $color-light;
        margin: 86px 0 0;
        position: relative;
        z-index: 2;

        &--word-colored {
            color: $color-text-selection;
        }

        &::after {
            content: "";
            width: 465px;
            height: 465px;
            display: block;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
            bottom: 12px;
            right: 22%;
            z-index: -1;
        }
    }

    &__link-button {
        margin-bottom: 100px;
    }
}