.testimonials {
    padding: 140px 0 172px;
    background: url("../assets/images/backgrounds/leav_foto.png") no-repeat right bottom -26%;

    @include media-small-desktop {
        padding: 98px 0 133px;
        background: url("../assets/images/backgrounds/leav_foto.png") no-repeat right -10px bottom -17%;
        background-size: 20%;
    }

    @include media-large-tablet {
        padding: 60px 0 74px;
    }

    @include media-small-tablet {
        padding: 30px 0 55px;
        background: url("../assets/images/backgrounds/leav_foto-1.png") no-repeat right bottom -6%;
    }

    .heading {
        margin: 0 0 40px;
        text-align: center;

        @include media-small-desktop {
            margin-bottom: 20px;
        }

        @include media-small-tablet {
            @include font($size: 2.4rem, $height: 2.9rem);
        }
    }

    &__carousel-wrapper {
        padding-bottom: 12px;
        overflow: hidden;

        @include media-large-tablet {
            padding-bottom: 40px;
        }

        @include media-small-tablet {
            padding-bottom: 30px;
        }
    }

    &__carousel {
        display: flex;
        align-items: center;
        gap: 29px;
        position: relative;
        right: 0;
        @extend %transition;

        @include media-large-tablet {
            flex-direction: column;
            row-gap: 15px;
            max-height: 330px;
        }
    }

    &__scrollbar {
        margin: auto;
        width: 599px;
        margin-bottom: 25px;

        @include media-small-desktop {
            margin-bottom: 49px;
            width: 390px;
        }

        @include media-large-tablet {
            display: none;
        }
    }

    &__link-button {
        @include media-large-tablet {
            text-align: center;
        }

        @include media-large-tablet {
            padding-top: 40px;
        }

        @include media-small-tablet {
            padding-top: 30px;
        }
    }

    .link-button {
        @include media-large-tablet {
            width: 240px;
        }
    }
}

.testimonial {
    padding: 11px 10px 19px 16px;
    width: 23%;
    flex-shrink: 0;
    @include gradient-border($gradient: $color-border, $width: 2px, $radius: 20px, $background-color: $_gray-lighter);

    @include media-small-desktop {
        padding-right: 17px;
        width: 31%;
    }

    @include media-large-tablet {
        height: 109px;
        padding: 15px 17px 12px 12px;
        width: 100%;
    }

    @include media-small-tablet {
        padding-top: 11px
    }

    &__header {
        display: flex;
        gap: 10px;
        margin: 0 0 10px;
    }

    &__row {
        display: flex;
        gap: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__author {
        @include font($height: 1.9rem);
        margin: 0;
        color: $color-dark;
    }

    &__location {
        @include font($size: 1.5rem, $height: 1.8rem, $weight: 300);
        color: $color-text-location;
        margin: 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $color-text-location;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: -12px;
        }
    }

    &__date {
        margin: 0;
        @include font($size: 1.5rem, $height: 1.8rem, $weight: 300);
        color: $color-text-location;
    }

    &__text {
        height: 309px;
        margin: 0;
        @include font($size: 1.5rem, $height: 1.8rem, $weight: 300);
        color: $color-disabled-buttons;
        overflow: hidden;

        @include media-large-tablet {
            height: 35px;
        }

        span {
            display: block;
        }
    }
}

.scrollbar {
    width: 100%;
    height: 8px;
    padding: 1px 0;
    -webkit-appearance: none;

    @include gradient-border($gradient: $color-border, $width: 0.5px, $radius: 5px);

    &::-webkit-slider-runnable-track {
        background: $color-background-slider;
    }


    &::-moz-range-track {
        height: 8px;
        @include gradient-border($gradient: $color-border, $width: 0.5px, $radius: 5px, $background-color: $color-background-slider);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 115px;
        height: 6px;
        border-radius: 5px;
        background: $color-additional;
        cursor: pointer;

        @include media-small-desktop {
            width: 75px;
        }
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        width: 115px;
        height: 6px;
        border-radius: 5px;
        border: none;
        background: $color-additional;
        cursor: pointer;
    }
}