/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.donate .donation .amount-form__radiobutton, .donate .donation .amount-bar__radiobutton::before, .donate .donation .amount-bar__radiobutton::after, .donate .donation .amount-bar__label, .about .donation .link--bordered::after, .social:active .icon-social, .social, .icon-round::before, .link, .link-button::before {
  transition: all 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

h1 {
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

h2 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

h3 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.link-button {
  display: inline-block;
  position: relative;
  width: 298px;
  padding: 16px 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}
.link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E47209;
  opacity: 0;
  z-index: 0;
}
.link-button__text {
  position: relative;
  z-index: 1;
}
.link-button--gradiented {
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.link-button--rounded {
  border-radius: 25px;
}
.link-button--colored {
  background-color: #FE9013;
}
.link-button--semi-rounded {
  border-radius: 5px;
}
.link-button:hover::before {
  opacity: 1;
}
.link-button:active::before {
  opacity: 1;
  background-color: #4B9200;
}
.link-button:disabled::before {
  opacity: 1;
  background-color: #767474;
}

.button {
  padding: 10px 39px;
  color: #333B41;
  background-image: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
}

.logo-container {
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.logo {
  text-decoration: none;
  color: #ffffff;
}
.logo__title {
  position: relative;
  padding: 3px;
  margin: 0;
  text-align: center;
}
.logo__title::after {
  content: "";
  position: absolute;
  left: 13px;
  width: 7px;
  height: 21px;
  background-image: url("../assets/images/icons/bamboo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
}
.link--gradient {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #ffffff;
}
.link--gradient:hover {
  color: rgba(0, 0, 0, 0);
}
.link--gradient:active {
  color: rgba(0, 0, 0, 0);
}
.link--colored {
  color: #333B41;
}
.link--colored:active {
  color: #4B9200;
}
.link--colored:active .social {
  background-color: #4B9200;
}
.link--bordered {
  position: relative;
}
.link--bordered:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background: #4B9200;
}
.link[data-active] {
  color: rgba(0, 0, 0, 0);
}

.icon {
  display: inline-block;
}
.icon--herbivorous {
  width: 33px;
  height: 37px;
  background-image: url("../assets/images/icons/banana-bamboo_icon.svg");
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.icon--carnivores {
  width: 48px;
  height: 38px;
  background-image: url("../assets/images/icons/meet-fish_icon.svg");
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.icon-round {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
}
.icon-round::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4B9200;
  opacity: 0;
  z-index: 0;
}
.icon-round:active::before {
  opacity: 1;
}
.icon-square {
  width: 168px;
  height: 168px;
}
.icon-social {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.5);
}
.icon--pay {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icons/pay.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--zoo {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icons/zoo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--monkey {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/icons/monkey.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--arrow-left {
  width: 16px;
  height: 8px;
  z-index: 1;
  background-image: url("../assets/images/icons/arrow-slider.svg");
}
.icon--arrow-right {
  width: 16px;
  height: 8px;
  z-index: 1;
  transform: rotate(180deg);
  background-image: url("../assets/images/icons/arrow-slider.svg");
}
.icon--avatar-user01 {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/icons/no-photo.svg");
}
.icon--avatar-user02 {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/testimonials/2.png");
}
.icon--avatar-user03 {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/testimonials/3.png");
}
.icon--avatar-user04 {
  width: 37px;
  height: 37px;
  background-image: url("../assets/images/testimonials/4.png");
}
.icon--facebook {
  background-image: url("../assets/images/icons/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--twitter {
  background-image: url("../assets/images/icons/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--inst {
  background-image: url("../assets/images/icons/inst.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--youtube {
  background-image: url("../assets/images/icons/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--panda {
  width: 284px;
  height: 246px;
  background-image: url("../assets/images/icons/panda_widget1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 58px;
  margin: 0;
}
.navigation__item {
  list-style: none;
}

.backstage {
  padding: 140px 0 180px 0;
  color: #333B41;
  background: url("../assets/images/icons/flower_foto1.png") no-repeat right top 12px;
  backdrop-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.backstage__content {
  display: flex;
  flex-direction: column;
}
.backstage__header {
  margin-bottom: 54px;
}
.backstage__title {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.8rem;
  margin: 0 0 20px;
}
.backstage__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  margin: 0;
}
.backstage__subtitle {
  margin: 0 0 34px;
}

.subtitle {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9rem;
}

.pets {
  padding: 0 0 94px;
  background: url("../assets/images/icons/strelitzia 1.png") no-repeat right bottom, url("../assets/images/icons/palm_foto.png") no-repeat left bottom;
}
.pets__wrapper {
  position: relative;
}
.pets__link-button {
  text-align: center;
  margin-top: 80px;
}
.pets__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 114%;
  top: 40%;
  right: -7%;
}

.pet__image-container {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  max-height: 366px;
  position: relative;
}
.pet__image-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1.5px);
  transition: all 0.7s ease-in-out;
}
.pet__image-container:hover > * {
  transform: scale(1.05);
}
.pet__image-container:hover ~ .pet__info {
  transition: all 0.7s ease-in-out;
  background-color: #FE9013;
  border-radius: 0 0 5px 5px;
}
.pet__image-container:hover ~ .pet__info .icon--herbivorous {
  visibility: hidden;
  opacity: 0;
}
.pet__image-container:hover ~ .pet__info .icon--carnivores {
  visibility: hidden;
  opacity: 0;
}
.pet__image-container:hover ~ .pet__info > .pet__text {
  transform: translateY(-55px);
  color: #ffffff;
}
.pet__image-container:hover::after {
  transition: all 0.7s ease-in-out;
  opacity: 1;
  background-color: rgba(51, 59, 65, 0.4);
  z-index: 0;
}
.pet__image {
  border-radius: 5px 5px 0 0;
  transition: all 1s;
  position: relative;
  pointer-events: auto;
}
.pet__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px 14px 16px;
}
.pet__name {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  margin: 0;
}
.pet__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 0;
}
.pet__text {
  transition: all 0.7s ease-in-out;
}

.block-bordered {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.block-bordered:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.donation {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.donation__wrapper {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
}
.donation__title {
  text-align: center;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.8rem;
  color: #FE9013;
}
.donation__subtitle {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9rem;
}
.donation__paragraph {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  padding-right: 138px;
}
.donation__content {
  padding: 0 59px 59px 99px;
  color: #333B41;
}
.donation__link-button {
  text-align: center;
}
.donation .link:hover {
  border-bottom-color: #4B9200;
}

.heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
}

.steps-container {
  max-width: 764px;
  padding-bottom: 60px;
  margin: auto;
}

.step {
  position: relative;
  max-width: 168px;
}
.step__text {
  margin: 30px 0 0;
}
.step:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 38px;
  top: 25%;
  right: -60%;
  background: url("../assets/images/icons/arrow-1.svg") no-repeat;
}

.testimonials {
  padding: 140px 0 172px;
  background: url("../assets/images/icons/leav_foto.png") no-repeat right bottom -26%;
}
.testimonials .heading {
  margin: 0 0 40px;
  text-align: center;
}
.testimonials__wrapper {
  padding-bottom: 12px;
}
.testimonials__scrollbar {
  margin: auto;
  width: 599px;
  margin-bottom: 25px;
}

.testimonial {
  padding: 11px 10px 19px 16px;
  position: relative;
  background: #F1F3F2;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.testimonial:before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.testimonial__header {
  display: flex;
  gap: 10px;
  margin: 0 0 10px;
}
.testimonial__row {
  display: flex;
  gap: 16px;
}
.testimonial__info {
  display: flex;
  flex-direction: column;
}
.testimonial__author {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin: 0;
  color: #000000;
}
.testimonial__location {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  color: #BDBDBD;
  margin: 0;
  position: relative;
}
.testimonial__location::after {
  content: "";
  position: absolute;
  background-color: #BDBDBD;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -12px;
}
.testimonial__date {
  margin: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  color: #BDBDBD;
}
.testimonial__text {
  height: 309px;
  margin: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  color: #767474;
  overflow: hidden;
}
.testimonial__text span {
  display: block;
}

.scrollbar {
  width: 100%;
  height: 8px;
  padding: 1px 0;
  -webkit-appearance: none;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  border: 0.5px solid transparent;
  background-clip: padding-box;
}
.scrollbar:before {
  content: "";
  position: absolute;
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.scrollbar::-webkit-slider-runnable-track {
  background: #F5F7F6;
}
.scrollbar::-moz-range-track {
  height: 8px;
  position: relative;
  background: #F5F7F6;
  border-radius: 5px;
  border: 0.5px solid transparent;
  background-clip: padding-box;
}
.scrollbar::-moz-range-track:before {
  content: "";
  position: absolute;
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.scrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 115px;
  height: 6px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
.scrollbar::-moz-range-thumb {
  -webkit-appearance: none;
  width: 115px;
  height: 6px;
  border-radius: 5px;
  border: none;
  background: #FE9013;
  cursor: pointer;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}
@media (max-width: 1160px) {
  .wrapper {
    padding: 0 15px;
  }
}

.header {
  background: #000000;
  backdrop-filter: blur(2px);
  padding: 14px 0;
  color: #ffffff;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 63px;
}
.header__copyright {
  margin-left: auto;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 40%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.layout-3-column > * {
  flex-basis: 31%;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 23%;
}

.footer {
  background: #000000;
  backdrop-filter: blur(2px);
  padding: 41px 0 50px;
  color: #ffffff;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
.footer__link-button {
  margin-bottom: 40px;
}
.footer__container {
  display: flex;
  align-items: flex-end;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
.footer__copyright .link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.1rem;
}
.footer__navigation {
  margin: 0 20px 0 auto;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.subscribe__title {
  margin: 0;
}
.subscribe__row {
  display: flex;
  gap: 10px;
}
.subscribe__input {
  width: 228px;
  outline: none;
  padding: 10px 7px 10px 10px;
  border: solid 0.7px transparent;
  border-radius: 2px;
  background-image: linear-gradient(#000000, #000000), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.subscribe__input::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: #BDBDBD;
}
.subscribe__input:invalid:focus {
  border-color: #D31414;
}
.subscribe__input:valid:focus {
  border-color: #4B9200;
}
.subscribe__input:invalid:focus ~ .button {
  color: #D31414;
  border-color: #D31414;
}
.subscribe__input:valid ~ .button {
  color: #4B9200;
  border-color: #4B9200;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social:active {
  color: #4B9200;
}
.social:active .icon-social {
  background-color: #4B9200;
}

.about .preview {
  background-image: url("../assets/images/backgrounds/giant-panda.jpg");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
}
.about .preview__wrapper {
  display: flex;
}
.about .preview__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  gap: 60px;
}
.about .preview__title {
  font-size: 10.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 86px 0 0;
  position: relative;
  z-index: 2;
}
.about .preview__title--word-colored {
  color: #FFEE2E;
}
.about .preview__title::after {
  content: "";
  width: 465px;
  height: 465px;
  display: block;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  bottom: 12px;
  right: 22%;
  z-index: -1;
}
.about .preview__link-button {
  margin-bottom: 92px;
}
.about .donation {
  padding: 69px 0 99px;
}
.about .donation__heading {
  margin: 0 0 33px;
  text-align: center;
}
.about .donation__wrapper {
  padding: 41px 0 55px;
}
.about .donation__subtitle {
  margin: 0 0 40px;
}
.about .donation__title {
  margin: 0 0 30px;
}
.about .donation__text {
  margin: 0 0 10px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1rem;
  white-space: nowrap;
}
.about .donation__link {
  border-bottom: 1px solid #FE9013;
  padding-bottom: 4px;
}
.about .donation .link--bordered::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 100%;
  background: #FE9013;
}
.about .donation .link--bordered:active::after {
  background: #4B9200;
}

.donate .preview {
  height: 386px;
}
.donate .preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.donate .donation {
  color: #333B41;
  padding: 40px 0 178px;
}
.donate .donation__heading {
  margin: 0;
  color: #ffffff;
}
.donate .donation__heading--colored {
  color: #FE9013;
  margin: 0 0 56px;
}
.donate .donation__text {
  margin: 0 0 40px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
}
.donate .donation__text--colored {
  color: #ffffff;
  text-align: initial;
}
.donate .donation__wrapper {
  padding: 40px 92px 62px;
}
.donate .donation__subtitle {
  margin: 0 0 55px;
}
.donate .donation__title {
  margin: 0 0 20px;
}
.donate .donation__link-button {
  margin-bottom: 25px;
}
.donate .donation__link {
  text-align: center;
}
.donate .donation__amount-bar {
  margin-bottom: 98px;
}
.donate .donation__amount-bar-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  margin: 0 0 17px;
}
.donate .donation .amount-bar {
  position: relative;
  width: 100%;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}
.donate .donation .amount-bar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 93%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #72828E;
}
.donate .donation .amount-bar__item {
  position: relative;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:checked::after {
  outline: 2px solid #FE9013;
  outline-offset: 4px;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:checked::before {
  outline: 2px solid #FE9013;
  outline-offset: 12px;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:checked ~ .amount-bar__label {
  color: #FE9013;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:hover::after {
  outline: 2px solid #FE9013;
  outline-offset: 4px;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:hover::before {
  outline: 2px solid #FE9013;
  outline-offset: 12px;
}
.donate .donation .amount-bar__item > .amount-bar__radiobutton:hover ~ .amount-bar__label {
  color: #FE9013;
}
.donate .donation .amount-bar__track {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.donate .donation .amount-bar__label {
  position: absolute;
  padding-top: 12px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.6rem;
  text-transform: uppercase;
  pointer-events: none;
}
.donate .donation .amount-bar__radiobutton {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 100%;
  cursor: pointer;
}
.donate .donation .amount-bar__radiobutton::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  outline: 2px solid transparent;
  outline-offset: 0;
}
.donate .donation .amount-bar__radiobutton::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  outline: 2px solid transparent;
  outline-offset: 0;
}
.donate .donation__promo {
  display: flex;
  padding-left: 215px;
  position: relative;
  margin-bottom: 55px;
}
.donate .donation__promo-text {
  color: #333B41;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 89px 0 0;
  gap: 10px;
  margin: 0;
}
.donate .donation__promo-text::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url("../assets/images/icons/x_icon.svg");
  right: 59%;
  bottom: 40%;
}
.donate .donation__promo-text--number {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.8rem;
  color: #000000;
}
.donate .donation__amount-form {
  margin-bottom: 30px;
}
.donate .donation .amount-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.donate .donation .amount-form__number {
  position: relative;
}
.donate .donation .amount-form__input {
  -moz-appearance: textfield;
  width: 268px;
  padding: 17px 10px 17px 9px;
  outline: none;
  border: solid 1px #929699;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0);
  color: #929699;
}
.donate .donation .amount-form__input ~ i {
  position: absolute;
  display: block;
  pointer-events: none;
  top: 50%;
  right: 10px;
  color: #929699;
  transform: translateY(-50%);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.8rem;
}
.donate .donation .amount-form__input::-webkit-outer-spin-button, .donate .donation .amount-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donate .donation .amount-form__input::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: #929699;
}
.donate .donation .amount-form__input:invalid:focus {
  color: #D31414;
  border-color: #D31414;
}
.donate .donation .amount-form__input:invalid:focus ~ i {
  color: #D31414;
}
.donate .donation .amount-form__input:valid:focus ~ i {
  color: #4B9200;
}
.donate .donation .amount-form__input:valid:focus {
  color: #4B9200;
  border-color: #4B9200;
}
.donate .donation .amount-form__radiobuttons {
  display: flex;
  gap: 50px;
  padding-right: 25px;
}
.donate .donation .amount-form__radiobutton-container {
  display: flex;
  gap: 10px;
}
.donate .donation .amount-form__radiobutton {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px #FE9013;
  cursor: pointer;
}
.donate .donation .amount-form__radiobutton:checked {
  background-color: #4B9200;
  border-color: #4B9200;
}

/*# sourceMappingURL=main.css.map */
