.footer {
    background: $color-dark;
    backdrop-filter: blur(2px);
    padding: 41px 0 48px;
    color: $color-light;
    position: relative;

    @include media-large-tablet {
        padding: 13px 0 18px;
    }

    @include media-small-tablet {
        padding: 20px 0 22px;
    }

    &__wrapper {
        @include media-small-desktop {
            padding-left: 30px;
            padding-right: 37px;
        }

        @include media-large-tablet {
            padding: 0 20px 0;
        }

        @include media-small-tablet {
            padding: 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;

        @include media-small-desktop {
            padding-right: 25px;
        }

        @include media-small-tablet {
            margin-bottom: 86px;
            padding: 0;
        }
    }

    &__link-button {
        margin-bottom: 40px;

        @include media-small-desktop {
            margin-bottom: 35px;
        }

        @include media-large-tablet {
            margin-bottom: 60px;
        }

        @include media-small-tablet {
            margin-bottom: 30px;
            text-align: center;
        }

        @include media-small-tablet {
            margin-bottom: 25px;
        }
    }

    &__container {
        display: flex;
        align-items: flex-end;
        row-gap: 30px;

        @include media-small-tablet {
            flex-wrap: wrap-reverse;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
        padding-left: 15px;

        @include media-small-desktop {
            padding-right: 10px;
        }

        .link {
            @include font($height: 1.8rem, $weight: 100, $size: 15px);
        }
    }

    &__navigation {
        margin: 0 10px 0 auto;

        @include media-small-desktop {
            padding-left: 40px;
        }

        @include media-large-tablet {
            margin: 0;
            padding: 0;
        }

        @include media-small-tablet {
            padding-left: 20px;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: auto;

        @include media-large-tablet {
            position: absolute;
            right: 20px;
            top: 12px;
            gap: 20px;
        }

        @include media-small-tablet {
            flex-direction: row;
            gap: 30px;
            right: 0;
            left: 0;
            justify-content: center;
            top: 22%;
        }

        @include media-mobile {
            top: 15%;
        }
    }
}

.subscribe {
    @include media-large-tablet {
        display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 14px;

    &__title {
        margin: 0;
    }

    &__row {
        display: flex;
        gap: 10px;
    }

    &__input {
        width: 228px;
        outline: none;
        padding: 10px 7px 10px 10px;
        border: solid 0.7px transparent;
        border-radius: 2px;
        background-image: linear-gradient($color-dark, $color-dark), $_gradient-orange-bright;
        background-origin: border-box;
        background-clip: padding-box, border-box;

        &::placeholder {
            @include font();
            color: $color-text-location;
        }

        &:invalid:focus {
            border-color: $color-error;
        }

        &:valid:focus {
            border-color: $color-active-buttons;
        }

        &:invalid:focus~.button {
            color: $color-error;
            border-color: $color-error;
        }

        &:valid~.button {
            color: $color-active-buttons;
            border-color: $color-active-buttons;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 12px;
    @extend %transition;

    &:active {
        color: $color-active-buttons;

        .icon-social {
            @extend %transition;
            background-color: $color-active-buttons;
        }
    }

    &__name {
        @include media-large-tablet {
            display: none;
        }
    }
}