.header {
    background: $color-dark;
    backdrop-filter: blur(2px);
    padding: 14px 0;
    color: $color-light;
    position: relative;
    z-index: 2;

    &.active {
        .header {
            &__copyright {
                @include media-tablet {
                    top: 27rem;
                    left: 10px;
                }
            }

            &__navigation {
                top: 0;
                background-color: $color-light;
            }
        }

        .logo {
            &__title {
                @include font($size: 1.5rem, $height: 1.8rem);
                color: $color-additional;
                filter: invert(40%) sepia(90%) saturate(1000%);
            }

            &-container {
                width: 66px;
                height: 42px;
                border: 0.8px solid $color-additional;
                padding: 3px;
                position: fixed;
                top: 8px;
                left: 10px;
            }
        }
    }

    @include media-tablet {
        padding: 3px 0;
        position: sticky;
        top: 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 63px;

        @include media-large-tablet {
            @include font($size: 1.5rem, $height: 1.5rem);
            justify-content: space-between;
        }
    }

    &__copyright {
        margin-left: auto;
        @extend %transition;

        @include media-large-tablet {
            display: none;
        }

        @include media-tablet {
            display: initial;
            position: fixed;
            z-index: 2;
            top: -100vw;
            margin-left: 0;
            @include font($size: 1.6rem, $height: 2.2rem);
        }
    }

    &__navigation {
        @extend %transition;
        z-index: 2;

        @include media-tablet {
            display: none;
            position: fixed;
            display: flex;
            top: -200vw;
            left: 0;
            width: 100vw;
            height: 329px;
            padding: 82px 10px 10px;
        }
    }
}

.navigation {
    @include media-tablet {
        @include font($size: 1.6rem, $height: 2.2rem);
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}