.icon {
    display: inline-block;

    &--herbivorous {
        width: 33px;
        height: 37px;
        background-image: url("../assets/images/icons/banana-bamboo_icon.svg");
    }

    &--carnivores {
        width: 48px;
        height: 38px;
        background-image: url("../assets/images/icons/meet-fish_icon.svg");
    }

    &-round {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        cursor: pointer;

        &:hover {}
    }

    &-square {
        width: 168px;
        height: 168px;
    }

    &--pay {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/pay.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--zoo {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/zoo.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--monkey {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/monkey.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--arrow-left {
        width: 16px;
        height: 8px;
        background-image: url("../assets/images/icons/arrow-slider.svg");
    }

    &--arrow-right {
        width: 16px;
        height: 8px;
        transform: rotate(180deg);
        background-image: url("../assets/images/icons/arrow-slider.svg");
    }
}