.icon {
    display: inline-block;

    &--herbivorous {
        width: 33px;
        height: 37px;
        background-image: url("../assets/images/icons/banana-bamboo_icon.svg");
        opacity: 1;
        transition: all .4s ease-in-out
    }

    &--carnivores {
        width: 48px;
        height: 38px;
        background-image: url("../assets/images/icons/meet-fish_icon.svg");
        opacity: 1;
        transition: all .4s ease-in-out
    }

    &-round {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        cursor: pointer;
        @extend %transition;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $color-active-buttons;
            // opacity: 0;
            @extend %transition;
            // z-index: 0;
        }

        // &:hover {
        //     &::before {
        //         opacity: 1;
        //     }
        // }
    }

    &-square {
        width: 168px;
        height: 168px;
    }

    &-social {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $color-socials;
    }

    &--pay {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/pay.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--zoo {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/zoo.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--monkey {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/icons/monkey.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--arrow-left {
        width: 16px;
        height: 8px;
        background-image: url("../assets/images/icons/arrow-slider.svg");
    }

    &--arrow-right {
        width: 16px;
        height: 8px;
        transform: rotate(180deg);
        background-image: url("../assets/images/icons/arrow-slider.svg");
    }

    &--avatar-user01 {
        width: 37px;
        height: 37px;
        background-image: url("../assets/images/icons/no-photo.svg");
    }

    &--avatar-user02 {
        width: 37px;
        height: 37px;
        background-image: url("../assets/images/testimonials/2.png");
    }

    &--avatar-user03 {
        width: 37px;
        height: 37px;
        background-image: url("../assets/images/testimonials/3.png");
    }

    &--avatar-user04 {
        width: 37px;
        height: 37px;
        background-image: url("../assets/images/testimonials/4.png");
    }

    &--facebook {
        background-image: url("../assets/images/icons/facebook.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--twitter {
        background-image: url("../assets/images/icons/twitter.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--inst {
        background-image: url("../assets/images/icons/inst.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    &--youtube {
        background-image: url("../assets/images/icons/youtube.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}