.link {
    text-decoration: none;
    @extend %transition;

    &--gradient {
        background: $_gradient-orange-bright;
        background-clip: text;
        -webkit-background-clip: text;
        color: $color-light;

        &:hover {
            color: $color-transparent;
        }

        &:active {
            color: $color-transparent;
        }
    }

    &--colored {
        color: $color-text;

        &:hover {
            color: $color-link;

            .social {
                background-color: $color-active-buttons;
            }
        }
    }

    &--bordered {
        position: relative;

        &:hover {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -6px;
                height: 1px;
                width: 100%;
                background: $color-active-buttons;
            }
        }
    }

    &[data-active] {
        color: $color-transparent;
    }
}